---
layout: blogcommon
---

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="portfolio-area area-padding fix">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h4>
              {{ content}}
              </h4>
              <p>
                Filter the posts in this page by tag, or change category. 
              </p>
            </div>
          </div>
        </div>
        <div class="row awesome-project-1 fix">
          <!-- Start Portfolio -page -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="awesome-menu ">
              <ul class="project-menu">
                <li>
                  <a href="#" class="active" data-filter="*">All</a>
                </li>
                <li>
                  <a href="#" data-filter=".artificial-intelligence">AI</a>
                </li>
                <li>
                  <a href="#" data-filter=".neural-networks">NeuralNetworks</a>
                </li>
                <li>
                  <a href="#" data-filter=".statistics">Statistics</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row awesome-project-content">

          {% for post in paginator.posts %}
          {% assign tag_total = "" %}
          {% for tag in post.tags %}
          {% assign tag_total = tag_total | append: " " | append: tag %}
          {% endfor %}
          <div class="post {{tag_total}}"> 
          <!-- <div class="post {{post.tags}}"> -->
            {% if post.coverimage %}
            <a class="post-thumbnail" style="background-image: url({{post.coverimage}})" href="{{post.url | prepend: site.baseurl}}"></a>
            {% endif %}
            <div class="post-content">
              <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
              {% if post.description %}
              <p>{{ post.description | strip_html }}</p>
              {% else %}
              <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
              {% endif %}
              {% if post.author %}
              <span class="post-author">{{ post.author }}<br></span>
              {% endif %}
              <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
              <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
            </div>
          </div> <!-- was article -->
          <!-- End single blog -->
          {% endfor %}              

        </div>
      </div>
    </div><!-- End Portfolio Section -->


    {% include pagination.html content="blog"%}
